<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passport - Login</title>
</head>
<body>
  <div id="auth">
    <div id="auth-wrap">
      <button onclick="handleClick()">Sign in Github</button>
      <script>
        function handleClick() {
          fetch('http://localhost:8080/auth/github/callback', {
            method: 'GET',
            headers: {
              'Content-Type': 'text/html'
            }
          })
          .then(result => console.log(result))
        }
      </script>
    </div>
  </div>
</body>
</html>